.modal-dialog {
	margin: 5.5rem auto;
	position: relative;
}

.btn-outline-info{
	&--custom {
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;
		border: none;
		vertical-align: baseline;
	}
	&--bg {
		position: relative;
		width: 110px;
		margin-bottom: 15px;
		&::after{
			content:'';
			position: absolute ;
			top: 50%;
			left: 10px;
			bottom: auto;
			right: auto;
			transform: translateY(-50%);
			background: url('../img/arrow.svg') no-repeat ; 
			width: 40px;
			height: 22px;
		}
		& span {
			padding-left: 30px;
			font-size: 18px;
			line-height: 18px;
		}
	}
}