.page-header {
	position: fixed;
	width: 100%;
	min-height: 54px;
	top: 0;
	z-index: 3;
	background-color: #f8f9fa;
}

.main-nav {
	width: 320px;
	min-height: 54px;
	margin: 0 auto;
	background-color: #f8f9fa;
	&__wrapper-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 5px;
		padding-bottom: 5px;
	}
	&__logo {	   
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		cursor: pointer;
		& img {
			display: block;
			width: 80px;
		}
	}    
	&__toggle {
		display: block;
		margin: 0;
    border: 0;
		padding: 0;
		margin-right: 10px;

    width: 38px;
		height: 24px;				
    position: relative;
    background-color: transparent;
		cursor: pointer;
		& span {
			display: block;
			position: absolute;
			left: 0;	  
			height: 4px;
			width: 100%;
			background: #3f3f3f;
			border-radius: 1px;
			opacity: 1;	  
			transform: rotate(0deg);
			transition: 0.2s ease-in-out;
			&:nth-child(2) {	
				top: 0;		
			}
			&:nth-child(3), &:nth-child(4) {
				top: 10px;
				z-index: 1;
			}
			&:nth-child(5) {
				top: 20px;				
			}
		}

		&--open span {
			transform: rotate(0deg);
			transition: .25s ease-in-out;
			&:nth-child(2), &:nth-child(5) {
				width: 0%;

				top: 12px;
				left: 50%;
			}
			&:nth-child(3), &:nth-child(4) {
				width: 38px;
				height: 4px;
				
				top: 10px;
				left: 0;
			}
			&:nth-child(3) {
				transform: rotate(45deg);
			}
			&:nth-child(4) {
				transform: rotate(-45deg);
			}
		}
	}
	&__wrapper-list {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		top: -400px;
		z-index: -1;
		transition: top 0.3s cubic-bezier(0.87, 0, 0.13, 1);
		background-color:#f8f9fa;
		&--open {
		  top: 0;
			transition: top 0.3s cubic-bezier(0.87, 0, 0.13, 1);
		}
	}
	&__btn-wrapper {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 660px) {
	.main-nav {
		min-width: 640px;
		min-height: 60px;
  }
}

@media (min-width: 1280px) {	
	.main-nav {		
 	  min-width: 1280px;
		min-height: 60px;	
		display: flex;
		flex-wrap: nowrap;
		&__wrapper-logo {
			margin-left: 30px;
			margin-right: 30px;
		}
		&__logo {	
			& img {
				width: 90px;
			}
		}    	
		&__toggle {
			display: none;
		}
		&__list {
			padding-right: 150px;
		}
		&__wrapper-list {
			position: static;			
			z-index: 0;
			display: flex;
			align-items: center;
		}
		&__list-wrapper {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
		}
		&__btn-wrapper {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}


.site-list {
	margin: 0;
	padding: 0;
	padding-top: 60px;

	list-style: none;
  & a {
		cursor: pointer;
	  display: block;
		padding: 0.375rem 0.75rem;

		font-size: 1rem;
    line-height: 1.5;
	  text-transform: uppercase;
		text-decoration: none;		
	  font-weight: 400;
	  color: #6c757d;
		text-align: center;

		border: 1px solid transparent;
		border-radius: 0.25rem;
		
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&[href]:hover {
			color: #ffffff;
			background-color: #6c757d;
			background-color: #6c757d;
		}
		&[href]:active {
			opacity: 0.8;
		}
	}
	&__item--active a {
		border: 1px solid #cfd6db;
	}
}

@media (min-width: 1280px) {
	.site-list {
		background-color: transparent;
		padding: 0;
		display: flex;
		margin: 0 auto;
		&__item {
			margin-left: 10px;
		  margin-right: 10px;
		  border-top: none;
		  border-bottom: none;
		}
		& a {
		  font-weight: 400;
		}
	}
}

.btn-outline-secondary {
	width: 160px;
}