.notification {
	font-size: 1.2rem;
	&-top {
		position: absolute;
		display: flex;
		justify-content: space-between;
		left: 0;
		top: -55px;
		right: 0;
		padding-top: 10px;
		padding-bottom: 10px;	
	}
	&-centr {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;		
		margin-bottom: 0;
		font-size: 1.2rem;
	}
}