.wrap-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #f8f9fa;
	z-index: 51;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
}

.loader {
	position: absolute;
	left: 49%;
	top: 49%;
	transform: translate(-49%, -49%);
	width: 76px;
	height: 76px;
	border: 10px solid white;
	border-top-color: #757575;
	border-radius: 50%;
	
	animation: 0.5s circleAnim linear infinite;
}
.cancel {
	visibility: hidden;
}

@keyframes circleAnim {
	from {
			transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
			transform: translate(-50%, -50%) rotate(360deg);
	}
}