@import "~bootstrap/scss/bootstrap";

@import "./Navbar/navbar";

@import "./Account/account";

@import "./Preloader/preloader";

@import "./Notifications/notofications";

@import "./Reviews/reviews";

@import "./Main/main";

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

#app {
	margin-top: 60px;
}